<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tsofen.ourstory"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ourstory_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ourstory_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="org.tsofen.ourstory.UserModel.AppHomePage">
                    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.tsofen.ourstory.UserModel.LogIn" />
        <activity android:name="org.tsofen.ourstory.UserModel.RegistrationPage1" />
        <activity android:name="org.tsofen.ourstory.UserModel.RegistrationPage2" />
        <activity android:name="org.tsofen.ourstory.UserModel.ForgotPassword" />
        <activity
            android:name="org.tsofen.ourstory.StoryTeam.CreateStory"
            android:label="CreateStory"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />


        <activity android:name="org.tsofen.ourstory.StoryTeam.ViewStory"></activity>
        <activity android:name="org.tsofen.ourstory.StoryTeam.SearchStory"></activity>
        <activity android:name="org.tsofen.ourstory.EditCreateMemory.CreateEditMemoryActivity" />
        <activity android:name="org.tsofen.ourstory.TeamsHomePage.TeamsHomePg" />
        <activity
            android:name="org.tsofen.ourstory.CommentActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="org.tsofen.ourstory.MemoriesOfStoryActivity"
            android:label="Memories" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>