<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tsofen.ourstory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.tsofen.ourstory.UserModel.AppHomePage" />
        <activity android:name="org.tsofen.ourstory.UserModel.LogIn" />
        <activity android:name="org.tsofen.ourstory.UserModel.RegistrationPage1" />
        <activity android:name="org.tsofen.ourstory.UserModel.RegistrationPage2" />
        <activity
            android:name="org.tsofen.ourstory.StoryTeam.CreateStory"
            android:label="CreateStory"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="org.tsofen.ourstory.StoryTeam.ViewStory"></activity>
        <activity android:name="org.tsofen.ourstory.MyMemoriesActivity" />
        <activity android:name="org.tsofen.ourstory.CreateEditMemoryActivity" />
        <activity android:name="org.tsofen.ourstory.TeamsHomePage.TeamsHomePg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tsofen.ourstory.MemoriesOfStoryActivity"
            android:label="Memories"
            android:parentActivityName="org.tsofen.ourstory.YearActivity" />

        <activity android:name="org.tsofen.ourstory.YearActivity"></activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.tsofen.ourstory.YearActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>